#grid {
  display: grid;
  grid-template-columns: repeat(15, 60px);
  grid-gap: 5px;
}

#grid2 {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-gap: 10px;
  position: absolute;
  bottom: 150px;
  left: 1020px;
}

#errorText {
  position: absolute;
  top: 450px;
  left: 1020px;
}

#explicationText {
  position: absolute;
  top: 0;
  left: 1020px;
}

.square {
  border: 1px solid #000;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}

.square.white {
  background-color: rgb(255, 255, 255);
}

.square.cyan {
  background-color: rgb(5, 169, 190);
  color: rgb(255, 255, 255);
  white-space: pre-line;
  font-weight: bold;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

.square.blue {
  background-color: rgb(53, 52, 136);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

.square.pink {
  background-color: rgb(245, 94, 165);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

.square.red {
  background-color: rgb(161, 8, 8);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

.square.hand {
  background-color: rgb(240, 218, 148);
}

.square.letter {
  background-color: rgb(240, 218, 148);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
  color: rgb(0, 0, 0);
  font-weight: normal;
  border-radius: 15%;
  transform: rotate(3deg);
  font-size: 40px;
  display: flex;
}

.score {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 16px;
}

.square.letter.used {
  background-color: rgba(165, 170, 170, 0.1);
}

.square.default {
  background-color: rgb(192, 176, 120);
}

#validateButton {
  position: absolute;
  bottom: 30px;
  height: 100px;
  left: 1020px;
  width: calc(98% - 1020px); /* Largeur totale - (Left + MarginRight) */
  font-size: 25px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #grid {
    grid-template-columns: repeat(15, 5.6%);
    grid-template-rows: repeat(15, 2%);
    grid-gap: 1%;
  }

  #grid2 {
    grid-template-columns: repeat(7, 30%);
    grid-gap: 10%;
    bottom: 7%;
    left: 5%;
    height: 4%;
  }

  #errorText {
    position: absolute;
    display: none;
  }

  #explicationText {
    position: absolute;
    display: none;
  }

  .square {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

  .square.white {
    background-color: rgb(255, 255, 255);
  }

  .square.cyan {
    background-color: rgb(5, 169, 190);
    color: rgb(255, 255, 255);
    white-space: pre-line;
    font-weight: bold;
    font-size: 30%;
    justify-content: center;
    align-items: center;
  }

  .square.blue {
    background-color: rgb(53, 52, 136);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30%;
    justify-content: center;
    align-items: center;
  }

  .square.pink {
    background-color: rgb(245, 94, 165);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30%;
    justify-content: center;
    align-items: center;
  }

  .square.red {
    background-color: rgb(161, 8, 8);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30%;
    justify-content: center;
    align-items: center;
  }

  .square.hand {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 218, 148);
  }

  .square.letter {
    background-color: rgb(240, 218, 148);
    box-shadow: 0.5% 0.5% 0.5% rgba(0, 0, 0, 0.9);
    color: rgb(0, 0, 0);
    font-weight: normal;
    border-radius: 15%;
    transform: rotate(3deg);
    font-size: 120%;
  }

  .score {
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-size: 50%;
  }

  .square.letter.used {
    background-color: rgba(165, 170, 170, 0.1);
  }

  .square.default {
    background-color: rgb(192, 176, 120);
  }

  #validateButton {
    position: absolute;
    bottom: 1%;
    height: 5%;
    left: 3%;
    width: 94%;
    font-size: 20px;
    font-weight: bold;
  }
}
