:root {
  --background_custom_color: rgb(70, 70, 70);
  --contrast_custom_color: rgb(200, 200, 200);
}

.entire_window {
  background-color: var(--background_custom_color);
}

.container {
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: var(--background_custom_color);
  justify-content: center;
}

.head_container {
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: space_between;
  align-items: center;
  text-align: center;
}

.grid_container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background_custom_color);
}

.hand_container {
  height: 5vh;
  width: 100%;
}

.error_text_container {
  height: 15vh;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.button_container {
  height: 5vh;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#flush_button {
  margin-left: auto;
  background-color: rgb(255, 255, 255);
}

#night_mode_button {
  margin-left: auto;
  background-color: rgb(153, 217, 234);
}

#title {
  font-size: 1.2vw;
  font-weight: bold;
  color: var(--contrast_custom_color);
}

#grid {
  display: grid;
  grid-template-columns: repeat(15, 2.2vw);
  grid-auto-rows: 2.2vw;
  grid-auto-columns: 2.2vw;
  grid-gap: 0.1vw;
}

#grid2 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 2.2vw);
  grid-auto-rows: 2.2vw;
  grid-auto-columns: 2.2vw;
  grid-gap: 0.8vw;
}

#errorText {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  color: var(--contrast_custom_color);
}

.square {
  border: 1px solid var(--contrast_custom_color);
  font-size: 0.4vw;
  justify-content: center;
  align-items: center;
  background-color: var(--background_custom_color);
}

.square.white {
  background-color: rgba(255, 255, 255, 0);
}

.square.cyan {
  background-color: rgb(5, 169, 190);
  color: rgb(61, 61, 61);
  white-space: pre-line;
  font-weight: bold;
  font-size: 0.4vw;
  justify-content: center;
  align-items: center;
}

.square.blue {
  background-color: rgb(53, 52, 136);
  color: rgb(192, 192, 192);
  font-weight: bold;
  font-size: 0.4vw;
  justify-content: center;
  align-items: center;
}

.square.pink {
  background-color: rgb(245, 94, 165);
  color: rgb(61, 61, 61);
  font-weight: bold;
  font-size: 0.4vw;
  justify-content: center;
  align-items: center;
}

.square.red {
  background-color: rgb(161, 8, 8);
  color: rgb(192, 192, 192);
  font-weight: bold;
  font-size: 0.4vw;
  justify-content: center;
  align-items: center;
}

.square.hand {
  background-color: rgb(240, 218, 148);
}

.square.letter {
  background-color: rgb(240, 218, 148);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
  color: rgb(0, 0, 0);
  font-weight: normal;
  border-radius: 15%;
  transform: rotate(3deg);
  font-size: 1.5vw;
  display: flex;
  overflow: visible;
  aspect-ratio: 1 / 1;
}

.score {
  position: absolute;
  right: 0.08vw;
  bottom: 0.08vw;
  font-size: 0.6vw;
}

.square.letter.used {
  background-color: rgb(111, 117, 117);
}

.square.default {
  background-color: rgb(192, 176, 120);
}

#validateButton {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  background-color: var(--background_custom_color);
  color: var(--contrast_custom_color);
}

@media only screen and (max-width: 768px) {
  :root {
    --background_custom_color: rgb(70, 70, 70);
    --contrast_custom_color: rgb(200, 200, 200);
  }

  .entire_window {
    background-color: var(--background_custom_color);
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--background_custom_color);
  }

  .grid_container {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background_custom_color);
  }

  .hand_container {
    height: 5vw;
    width: 100%;
  }

  .error_text_container {
    height: 15vw;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .button_container {
    height: 5vw;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  #title {
    font-size: 3vw;
    font-weight: bold;
    color: var(--contrast_custom_color);
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(15, 6vw);
    grid-auto-rows: 6vw;
    grid-auto-columns: 6vw;
    grid-gap: 0.5vw;
  }

  #grid2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(7, 8vw);
    grid-auto-rows: 8vw;
    grid-auto-columns: 8vw;
    grid-gap: 2vw;
    aspect-ratio: 1 / 1;
  }

  #errorText {
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    color: var(--contrast_custom_color);
  }

  .square {
    border: 1px solid #000;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    background-color: var(--background_custom_color);
  }

  .square.white {
    background-color: rgba(255, 255, 255, 0);
  }

  .square.cyan {
    background-color: rgb(5, 169, 190);
    color: rgb(61, 61, 61);
    white-space: pre-line;
    font-weight: bold;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
  }

  .square.blue {
    background-color: rgb(53, 52, 136);
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
  }

  .square.pink {
    background-color: rgb(245, 94, 165);
    color: rgb(61, 61, 61);
    font-weight: bold;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
  }

  .square.red {
    background-color: rgb(161, 8, 8);
    color: rgb(192, 192, 192);
    font-weight: bold;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
  }

  .square.hand {
    background-color: rgb(240, 218, 148);
    aspect-ratio: 1 / 1;
  }

  .square.letter {
    background-color: rgb(240, 218, 148);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.9);
    color: rgb(0, 0, 0);
    font-weight: normal;
    border-radius: 15%;
    transform: rotate(3deg);
    font-size: 4vw;
    display: flex;
    overflow: visible;
  }

  .score {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 1.5vw;
    pointer-events: none;
  }

  .square.letter.used {
    background-color: rgba(165, 170, 170, 0.1);
  }

  .square.default {
    background-color: rgb(192, 176, 120);
  }

  #validateButton {
    width: 100%;
    font-size: 5vw;
    font-weight: bold;
    color: var(--contrast_custom_color);
    background-color: var(--background_custom_color);
  }
}
